
DonneesThese.csv
DonneesTheseTest.csv
DonneesTheseTest.json
ListeThese2.json
.spyproject/codestyle.ini
.spyproject/encoding.ini
.spyproject/vcs.ini
.spyproject/workspace.ini
__pycache__/Utils.cpython-36.pyc
